.OtherComps-Main-div{
    height: 250vh;
    width: 69.5vw;
    /* border: 3px solid red; */
    padding: 1rem;
}



@media screen and (max-width:500px) {
    .OtherComps-Main-div{
        height: 205vh;
        width: 99.5vw;
    }
}
